.DS_Store
#intellij config
.idea/
*.iml

# tools
.gradle/

# configuration
configuration.json

# build outputs
build/
out/

node_modules
/javascript/package-lock.json
/javascript/src/starface-rest-api/package-lock.json
/php/vendor/
